In [3]:
import pandas as pd

data = pd.read_csv("data/Hawthorne/Site_3006_raw.csv", index_col=0)
data.dropna(inplace=True)
data = data[data['SR_Synoptic']>0]

data.head()

                        NO   NO2     O3    SR  Temp  SR_Synoptic
datetime
2016-01-27 08:00:00  90.10  40.0  0.005  0.21  23.0         42.0
2016-01-27 09:00:00  52.65  33.0  0.011  0.50  25.0        289.0
2016-01-27 10:00:00  58.85  34.0  0.015  0.73  28.0        463.0
2016-01-27 11:00:00  36.00  28.0  0.022  0.92  31.0        592.0
2016-01-27 12:00:00  22.05  23.0  0.027  0.99  33.0        693.0

## Calculating K
- Convert Temp to K
- Calculate K

In [ ]:
# Coversion
data['Temp[K]'] = (data['Temp'] - 32) * 5/9 + 273.15

# K calc
A = 3.0e-12
EoR = 1500
data['K'] = A * np.exp(-EoR / (data['Temp[K]'])) #This unit seems to be cm**3 Molecules**-1 s**-1

## Calculating J
- I am slightly skeptical about this one because the instrament we got the SR from this time seems to be different

In [ ]:
C=7.784e-5
data['J']=C*data['SR_Synoptic']

# Change concentration units
- Ozone ppm -> ppb -> ppbv
- NO ppb -> ppbv
- NOx ppb -> ppbv

In [ ]:
number = 2.46E10
data['O3'] = data['O3'] * 1000 * number 
data['NO'] = data['NO'] * number 
data['NO2'] = data['NO2'] * number